
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header{
    background-color: purple;
    color: white;
    text-align: center;
    padding: 20px;
}

header img{
    width: 300px;
}

.hed{
    color: rgb(255, 255, 255);
    text-align: center;
}

.mn{
    color: rgb(0, 0, 0);
    text-align: left;
}

h2{
    color: rgb(37, 36, 37);
    text-align: center;
    text-decoration: underline purple;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    border-radius: 20px;
}

.lei{

}

button{
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center ;

}

.botao1{
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

}

a{
    color: white;
    text-decoration: none;
}

.verde{
    color: green;
}
.vermelho{
    color: red;
}